body {
  text-align: left;
}

.bold {
  font-weight: 800;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: green;
}

.welcome {
  background: #f9f5ed;
  border: solid 1px #d6d1c9;
  padding: 10px;
}

.greenbox {
  background: #f6ffef;
  border: solid #b9e5c1 1px;
  height: 600px;
}

.greenbox h4 {
    background: #b9e5c1;
    border: solid #829185 1px;
}

img {
  float:right;
  max-width: 150px;
  max-height: 150px;
  padding: 10px;
  overflow: auto;
}

h4 {
  border: solid 1px;
  padding: 3px;
}

.bluebox {
  background: #ced3ef;
  height: 600px;
}

.bluebox h4 {
  background: #a0a8d3;
  border: solid #829185 1px;
}

#ian {
  float: left;
}

#chief {
  float: left;
  max-height: 900px;
  max-width: 600px;
}
.box {
  margin: 2px;
  padding: 10px;
  overflow: auto;
}

.purplebox {
  background: #bd99e5;
  border: solid #70588c 1px;
  height: 200px;
  height: 450px;
}

.purplebox h4 {
  background: #9a7eba;
  border: solid #77628e:
}
